<%= render partial: 'layouts/navbar' %>

<article >
<div class='photos'>
<% @photos.each do |pics| %>
<div class='thumb'>
	  <%= link_to pics[:url], class: 'fancybox' do %>
    <%= image_tag pics[:url] %>
  <% end %>
</div>
<% end %>
</div>
</article>
<%= paginate @photos %>
